<div class="profile">
  <div class="header">
    <img src="../../../assets/images/profile.jpg" alt="profile" />
    <h1>Tim Cook</h1>
    <h3>Computer Science Teacher</h3>
  </div>
  <div class="content">
    <p>
      Velit officia tempor in est. Excepteur est ut est proident veniam eu
      mollit eiusmod et irure eiusmod. Cupidatat aliquip consectetur sit culpa
      est dolor sunt minim officia sunt consectetur. Officia consequat non anim
      tempor aliqua. Commodo tempor laborum labore mollit laborum fugiat mollit
      deserunt cillum sunt est ad fugiat cupidatat. Cupidatat in laborum dolor
      aute voluptate exercitation. Lorem nostrud eiusmod velit labore ad id
      consequat fugiat qui laboris exercitation nisi elit. Proident pariatur ad
      et velit nulla minim laboris. Consectetur irure proident consectetur anim
      non pariatur aute fugiat enim ut incididunt. Velit ex ad id ad
      reprehenderit reprehenderit veniam mollit do dolor et dolore dolore. Ea
      ullamco officia occaecat exercitation in esse qui eu qui velit irure velit
      ad proident. Lorem esse deserunt irure adipisicing id ad occaecat magna
      dolor ex anim cupidatat quis. Do esse labore qui sint id aliqua cupidatat
      pariatur esse. Enim exercitation enim sit ad pariatur irure. Quis magna
      pariatur irure quis magna elit labore. Nisi excepteur ea fugiat occaecat
      enim reprehenderit voluptate. Ex esse minim id pariatur exercitation eu eu
      reprehenderit mollit do in. Cillum fugiat ut magna deserunt. Eiusmod non
      tempor voluptate irure. Elit non est ullamco esse do reprehenderit nisi ea
      veniam aute sit in dolore ullamco. Quis voluptate do dolor nostrud nisi
      pariatur commodo non cupidatat non. Consequat cillum ea non labore
      consectetur reprehenderit qui eiusmod commodo elit ipsum qui mollit.
      Consectetur commodo fugiat excepteur voluptate quis mollit est est elit.
    </p>
  </div>
  <div class="footer">
    <button mat-stroked-button color="primary">
      <i class="fa fa-github"></i><span> Find me on GitHub</span>
    </button>
    <button mat-stroked-button color="primary">
      <i class="fa fa-linkedin"></i><span> Find me on LinkedIn</span>
    </button>
    <button mat-stroked-button color="primary">
      <i class="fa fa-twitter"></i><span> Find me on Twitter</span>
    </button>
  </div>
</div>
