<div class="awards">
  <div class="award-card">
    <mat-card>
      <mat-card-title>
        <span>Colegiul National Grigore Moisil</span></mat-card-title
      >
      <mat-card-subtitle>
        <span>2014-2018</span>
      </mat-card-subtitle>
      <img
        mat-card-image
        src="../../../assets/images/moisil.jpg"
        alt="moisil"
      />
      <mat-card-content>
        <span
          >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
          maiores a fugiat, voluptate iste molestias officiis in nulla itaque
          eveniet, aliquid quo exercitationem nisi cupiditate hic consequuntur
          minima ipsam placeat. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Veritatis numquam rem vero eum cum unde minima
          corrupti voluptates neque molestias deleniti pariatur enim accusamus,
          dolorum dolore? Laudantium nulla modi maiores?</span
        >
      </mat-card-content>
    </mat-card>
  </div>
  <div class="award-card">
    <mat-card>
      <mat-card-title> <span>Universitatea Babes Boliyai</span></mat-card-title>
      <mat-card-subtitle>
        <span>2018-2021</span>
      </mat-card-subtitle>
      <img mat-card-image src="../../../assets/images/ubb.jpg" alt="ubb" />
      <mat-card-content>
        <span
          >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
          maiores a fugiat, voluptate iste molestias officiis in nulla itaque
          eveniet, aliquid quo exercitationem nisi cupiditate hic consequuntur
          minima ipsam placeat. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Veritatis numquam rem vero eum cum unde minima
          corrupti voluptates neque molestias deleniti pariatur enim accusamus,
          dolorum dolore? Laudantium nulla modi maiores?</span
        >
      </mat-card-content>
    </mat-card>
  </div>
  <div class="award-card">
    <mat-card>
      <mat-card-title> <span>Universitatea Harvard</span></mat-card-title>
      <mat-card-subtitle>
        <span>2021-2023</span>
      </mat-card-subtitle>
      <img
        mat-card-image
        src="../../../assets/images/harvard.jpg"
        alt="harvard"
      />
      <mat-card-content>
        <span
          >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
          maiores a fugiat, voluptate iste molestias officiis in nulla itaque
          eveniet, aliquid quo exercitationem nisi cupiditate hic consequuntur
          minima ipsam placeat. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Veritatis numquam rem vero eum cum unde minima
          corrupti voluptates neque molestias deleniti pariatur enim accusamus,
          dolorum dolore? Laudantium nulla modi maiores?</span
        >
      </mat-card-content>
    </mat-card>
  </div>
  <div class="award-card">
    <mat-card>
      <mat-card-title> <span>Experienta profesionala</span></mat-card-title>
      <mat-card-subtitle>
        <span>2023-present</span>
      </mat-card-subtitle>
      <img
        mat-card-image
        src="../../../assets/images/experience.jpeg"
        alt="moisil"
      />
      <mat-card-content>
        <span>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse maiores
          a fugiat, voluptate iste molestias officiis in nulla itaque eveniet,
          aliquid quo exercitationem nisi cupiditate hic consequuntur minima
          ipsam placeat. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Veritatis numquam rem vero eum cum unde minima corrupti
          voluptates neque molestias deleniti pariatur enim accusamus, dolorum
          dolore? Laudantium nulla modi maiores?
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
