<div class="container">
  <form [formGroup]="materieForm" (ngSubmit)="saveMaterie()">
    <mat-form-field class="full-width">
      <input
        name="nameInput"
        matInput
        placeholder="Nume materie"
        formControlName="name"
      />
      <mat-error *ngIf="materieForm.get('name').invalid">
        Name field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        name="teachers"
        matInput
        placeholder="Profesori materie"
        formControlName="teachers"
      />
      <mat-error *ngIf="materieForm.get('teachers').invalid">
        Teachers field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        name="description"
        matInput
        placeholder="Descriere materie"
        formControlName="description"
      />
      <mat-error *ngIf="materieForm.get('description').invalid">
        Description field is required
      </mat-error>
    </mat-form-field>
    <div class="bottom-container">
      <button mat-icon-button type="submit">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>
